<div class="card" style="top:15em">
    <div class="card-header">
        <div class="card-header-title">
            <div class="is-size-2">Behold</div>
        </div>
    </div>
    <div class="card-content">
        <p>Your new character is {{ pickArticle() }} <strong>{{ character.race.name + " " + character.charClass.name }}</strong></p>
        <p>Their background is <strong>{{ character.background.name }}</strong>, which gives them the feat of <strong>{{ character.background.feature }}</strong></p>
        <p>They are proficient in <strong>{{ character.background.proficiencies[0] }}</strong> and <strong>{{ character.background.proficiencies[1] }}</strong></p>
        <p>They have <strong>{{ character.hairColor.color }}</strong> hair in a <strong>{{ character.hairStyle.style }}</strong>.</p>
        <br>
        <div class="is-size-4">Abilities:</div>
        <ul>
            <li *ngFor="let ability of character.abilities">{{ ability.ability.name + ": " + ability.score + " (" + abilityModifier(ability.score) + ")" }}</li>
        </ul>
    </div>
    <div class="card-footer p-2">
        <a (click)="newCharacter()" class="button is-primary has-text-dark"><strong>ANOTHER!</strong></a>
    </div>
</div>