/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma//sass/utilities/functions.sass";

$primary: hsl(171, 100%, 41%);

$card-header-background-color: $primary;

@import "../node_modules/bulma/bulma.sass";

html, body { height: 100%; }
