<div class="card" style="top:15em">
    <div class="card-header">
        <div class="card-header-title">Welcome to Charactermancer!</div>
    </div>
    <div class="card-content">
        <p>Having trouble creating characters for your fantasy setting? Charactermancer will help with that!</p>
        <br>
        <p>Click the button below to generate a race, class, background, and physical details about your character.</p>
    </div>
    <div class="card-footer p-2">
        <a routerLink="/character" class="button is-primary has-text-dark"><strong>Generate</strong></a>
    </div>
</div>
